body {
	padding: 1rem;
	max-width: 1400px;
	margin: auto;
}

object {
	margin: 1rem;
}

.rotate {
	animation: spin 4000ms infinite linear;
	transform-origin: center center;
}

.toneArm {
	transform: rotate(0deg);
}

#recordPlayer:hover .toneArm {
	transition: transform 0.5s ease;
	transform: rotate(10deg);
	transform-origin: 87% 16%;
}

#camel:hover .mouth {
	transform: translateY(10px);
	transition: transform 0.3s ease;
}

#camel .eye {
	animation: blink 3s infinite linear;
	transform-box: fill-box;
	transform-origin: center 60%;
}

#tv:hover .color {
	animation: colorCycle 7s infinite ease 0.1s;
}

#tv:hover .knob {
	transition: transform 0.1s ease;
	transform: rotate(60deg);
	transform-box: fill-box;
	transform-origin: center center;
}

#cat:hover .tongue {
	transition: transform 0.5s ease;
	transform: scaleY(2);
	transform-box: fill-box;
	transform-origin: center top;
}

#cat .eye {
	animation: grow 5s infinite ease;
	transform-box: fill-box;
	transform-origin: center center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes grow {
	0% {
		transform: translateX(0rem);
	}
	25% {
		transform: translateX(0.7rem);
	}

	50% {
		transform: translateX(0rem);
	}
	75% {
		transform: translateX(-0.7rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@keyframes blink {
	0% {
		transform: scaleY(1);
	}
	5% {
		transform: scaleY(0);
	}
	10% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes colorCycle {
	0% {
		fill: hsl(0, 73%, 73%);
	}
	25% {
		fill: hsl(90, 73%, 73%);
	}
	50% {
		fill: hsl(180, 73%, 73%);
	}
	50% {
		fill: hsl(270, 73%, 73%);
	}
	100% {
		fill: hsl(360, 73%, 73%);
	}
}

@media screen and (min-width: 768px) {
	body {
		display: flex;
		flex-flow: row wrap;
	}

	object {
		width: calc(50% - 2rem);
		height: 100%;
	}
}

@media screen and (min-width: 1280px) {
	object {
		width: calc(33% - 2rem);
	}
}
