html {
	font-size: 100%;
	background-color: #79003b;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

h1,
h3 {
	margin: 0;
	line-height: 0.9;
}

h2,
a {
	margin: 0;
	line-height: 1.4;
}

h1 {
	font-family: "Caveat Brush", cursive;
	font-size: 35vw;
	color: #fcc423;
}

h2,
h3,
a {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 5.5vw;
}

h3 {
	margin-top: 5vw;
}

main {
	margin: auto;
	width: 80vw;
	position: relative;
	height: 80vw;
	color: #79003b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.circle {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 100%;
	background-color: #ec1848;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

body {
	min-height: 100vh;
	padding-top: 7vh;
}

a {
	text-decoration: none;
	color: unset;
	display: inline;
	text-decoration: underline;
}

.separator {
	width: 2vw;
	height: 2vw;
	background-color: #79003b;
	margin: 0 1.5vh;
	border-radius: 100%;
}

img {
	width: 80vw;
	margin: 7vh auto;
	display: block;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.linkWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
}

@media screen and (min-width: 480px) {
	main {
		margin-bottom: 7vh;
	}
	img {
		width: calc(50vw - 4rem);
		margin: 1rem 0;
		display: block;
		align-self: flex-start;
	}

	.images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 3rem;

		height: unset;
		align-content: unset;
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
	main {
		width: 500px;
		height: 500px;
	}

	h1 {
		font-size: 14rem;
	}

	h2,
	h3,
	a {
		font-size: 2.1rem;
	}

	h3 {
		margin-top: 2.1rem;
	}

	img {
		width: calc(25vw - 2rem);
		margin: 0;
		display: block;
		align-self: flex-start;
	}

	.images {
		margin-top: 10vh;
		margin-bottom: 10vh;
		flex-direction: row;
		height: unset;
		align-content: unset;
		justify-content: space-between;
	}

	.separator {
		width: 0.8rem;
		height: 0.8rem;
		background-color: #79003b;
		margin: 0 01.3rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		padding: 0;
	}
	main {
		float: left;
		margin: 0 3rem;
	}

	img {
		width: 150px;
		display: block;
		align-self: flex-start;
		margin-bottom: 2rem;
		margin-right: 2rem;
		flex-grow: 1;
	}

	.images {
		width: 520px;
		height: 100vh;
		background-color: #ec1848;
		float: right;
		margin: 0;
		flex-grow: 1;
		padding: 2rem;
		justify-content: flex-start;
		align-content: flex-start;
		max-width: 590px;
	}

	.wrapper {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
}
